@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

@media(min-width: 800px) {
  html, body, #root {
    height: 100vh;
  }
}

body {
  font-family: "Roboto", sans-serif;
  background: #536976;
  background: -webkit-linear-gradient(to top, #536976, #292e49);
  background: linear-gradient(to top, #536976, #292e49);
}

#root {
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  margin-top: 1em;
  font-family: "Lobster", cursive;
  color: #fff;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  color: #fff;
  text-align: center;
  margin-bottom: 1em;
}

footer a {
  color: gold;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #fff;
  width: 400px;
  height: 400px;
  max-width: 75vw;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 1em;
  border-radius: 10px;
}

.solution {
  margin: 3em;
}

h1 {
  font-size: 5em;
}